/* Red Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #992a27;
  --primary-hover: #761616;
  --primary-focus: rgba(165, 47, 44, 0.125);
  --primary-inverse: #FFF;
}

/* Red Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #992a27;
    --primary-hover: #f44336;
    --primary-focus: rgba(165, 47, 44, 0.125);
    --primary-inverse: #FFF;
  }
}

/* Red Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #992a27;
  --primary-hover: #761616;
  --primary-focus: rgba(229, 57, 53, 0.25);
  --primary-inverse: #FFF;
}

/* Red (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}



:root {
    --font-size: 13px;
}
@media (min-width: 576px) {
    :root {
        --font-size: 14px;
    }
}
@media (min-width: 768px) {
    :root { 
        --font-size: 14px;
    }
}
@media (min-width: 992px) {
    :root { 
        --font-size: 15px;
    }
}
@media (min-width: 1200px) {
    :root { 
        --font-size: 16px;
    }
}



.container {
    padding-top: 0;
}

nav {
    margin-bottom: 35px;
}

table thead th {
    font-weight: 700;
}

.tab {
    display: none;
}

.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.rowName {
    width: 190px;
    font-size: 1.15rem;
    font-weight: 700;
}

.row div:not(.rowName) {
    flex: 1;
}

.small[role=button] {
    line-height: 14px;
}

select {
    line-height: 17.5px;
    padding: 10px 50px 10px 20px;
    margin-bottom: 0;
}

#obs_status img {
    width: 30px;
    height: 30px;
    margin: auto 8px auto 0;
}

#obs_status {
    line-height: 37.5px;
    display: flex;
}

/*
table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
}

table thead tr {
    background-color: #333;
    color: #ffffff;
    text-align: left;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #333;
}
*/
