<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/pico.min.css">
        <link rel="stylesheet" href="static/css/style.css">
        <title></title>
    </head>
    <body>
        
         <main class="container">
            <nav>
                <ul>
                    <li>
                        <h3 style="margin:0;">Example Tool</h3>
                        <span style="font-size: 0.9rem; color: #73828c; font-weight: 300; margin: 0;">For demonstration purposes only</span>
                    </li>
                </ul>
                <ul>
                    <li><a href="#" onclick="changeTab('script')">Script</a></li>
                    <li><a href="#" onclick="changeTab('participants')">Participants</a></li>
                </ul>
            </nav>

            <div id="script" class="tab" style="display:block;">
                <div class="row">
                    <div class="rowName">
                        Script
                    </div>
                    <div>
                        <textarea id="botc_script" name="botc_script" rows="4" cols="50" onchange="buildRoleList(this.value);">[{"id":"washerwoman"},{"id":"librarian"},{"id":"investigator"},{"id":"chef"},{"id":"empath"},{"id":"fortune_teller"},{"id":"undertaker"},{"id":"monk"},{"id":"ravenkeeper"},{"id":"virgin"},{"id":"slayer"},{"id":"soldier"},{"id":"mayor"},{"id":"butler"},{"id":"drunk"},{"id":"recluse"},{"id":"saint"},{"id":"poisoner"},{"id":"spy"},{"id":"scarlet_woman"},{"id":"baron"},{"id":"imp"}]</textarea>
                    </div>
                </div>
            </div>

            <div id="participants" class="tab">
                <div class="row" style="margin-bottom:30px;">
                    <div class="rowName">
                        Discord Server
                    </div>
                    <div style="flex:2;margin-right: 15px;">
                        <select name="discord_server" id="discord_server">
                            <option value="">-- None --</option>
                        </select>
                    </div>
                </div>

                <table id="participant_table">
                    <thead>
                        <tr id="labels">
                            <th scope="col">Discord User</th>
                            <th scope="col">Discord Channel</th>
                            <th scope="col">Role</th>
                            <th scope="col">Town Square Seat</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>

        </main>

        <script>
            var HOSTNAME = "{{ HOSTNAME }}";
        </script>

        <!-- Blood on the Clocktower Specific Features -->
        <script type='text/javascript' src='static/js/clocktower.js'></script>

        <!-- App Features / Layout -->
        <script type='text/javascript' src='static/js/tabs.js'></script>
        <script type='text/javascript' src='static/js/participants.js'></script>

        <!-- Discord Activity -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script type='text/javascript' src='static/js/messages.js'></script>
    </body>
</html>
